body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #df8f8f;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}
